@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&family=Roboto:wght@100;400&family=Source+Sans+Pro&family=Yanone+Kaffeesatz:wght@500&display=swap');

.ItemDetailStyle{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.ItemDetailInfo{
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

.ItemDetailName{
    font-size: 60px !important; 
    font-family: 'Source Sans Pro', sans-serif !important;
    font-style: italic;
    font-weight: 600 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ItemDetailPrice{
    position: relative;
    top: 20px;
    font-size: 60px !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    display: flex;
    justify-content: center;
}





