@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100;400&family=Yanone+Kaffeesatz:wght@500&display=swap');

.itemListContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.fontStorePresentation{
    font-family: 'Pacifico', cursive;
    color: black;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}