.homeContainer {
    height: 100vh;
    width: 100vw;
    /* background: linear-gradient(90deg, #00000000, rgba(0, 0, 0, 0.418),#fffffffd); */
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}



.homeContainer p {
    font-size: 50px;
    grid-column: 3/3;
    grid-row: 2/2;
    place-items: center;
    text-align: center;
    z-index: 999;
    font-family: 'Pacifico', cursive;
}

.homeContainer button {
    grid-column: 3/3 !important;
    grid-row: 3/3 !important;
    margin: 0 auto;
    width: 200px;
    height: 60px;
    border: 1px solid rgb(153, 105, 0);
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.homeContainer button a {
    color: black;
}

.homeContainer button:hover {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(153, 105, 0);
    color: white !important;
} 


.imageCon {
    width: 60vw;
    height: 100vh;
    position: absolute;
    z-index: -999;
    border-right: 1px solid rgb(255, 255, 255);
    filter: opacity(100%);
    border-style: hidden;
}

.imageMobile {
    display: none;
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
    .imageCon {
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: -999;
        border-right: 1px solid rgb(255, 255, 255);
        filter: opacity(100%);
        border-style: hidden;
        filter: brightness(40%);
    }

    .homeContainer p {
        font-size: 40px;
        grid-column: 2/2;
        grid-row: 2/2;
        color: white;
    }

    .homeContainer button {
        width: 180px;
        height: 60px;
        grid-column: 2/2 !important;
        grid-row: 3/3 !important;
        margin: auto;
    }

    .homeContainer {
        background: linear-gradient(90deg, #00000000, rgba(0, 0, 0, 0),#ffffff00);
    }

    
}

@media screen and (max-width: 768px) {
    .imageCon {
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: -999;
        border-right: 1px solid rgb(255, 255, 255);
        filter: opacity(100%);
        border-style: hidden;
        filter: brightness(40%);
    }

    .homeContainer p {
        font-size: 32px;
        color: white;
    }

    .homeContainer {
        height: 100vh;
        width: 100vw;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(90deg, #00000000, rgba(0, 0, 0, 0),#ffffff00);
    }

    .homeContainer button {
        width: 150px;
        height: 50px;
    }

    .imageMobile {
        display: block;
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: -999;
        filter: opacity(100%);
        border-style: hidden;
        filter: brightness(40%);
    }
}