nav {
    min-height: 100vh;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 50vw;
    z-index: 999;
}

.navbarContai {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
}

.navbarContaiDesactive {
    font-size: 24px;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    list-style: none;
    color: black;
}

.navbarContaiActive {
    font-size: 24px;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    list-style: none;
    color: rgb(255, 225, 160);
}

@media screen and (max-width: 1024px) {
    nav {
        width: 100vw;
        z-index: 99999;
    }


}