@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Yanone+Kaffeesatz:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100&family=Yanone+Kaffeesatz:wght@500&display=swap');

.fontType{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
    margin: 0;
}

.tittleFontType{
    font-family: 'Pacifico', cursive;
    font-size: 20px;  
    bottom: 10px;
}

.navbarContainer {
    width: 100vw;
    height: 10vh;
    background-color: rgb(253, 253, 253);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heightNav {
    height: 6vh !important;
}


.menuButton {
    background-color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.062);
    width: 50px;
    height: 50px;
}

.shoppingCart {
    border: none;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 4px;
}

@media screen and (max-width: 600px) {
    .navbarContainer {
        width: 100vw;
        height: 10vh;
        background-color: rgb(253, 253, 253);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}