.counter{
    display: grid;
    grid-template-columns: 1fr 0.070fr 1fr;
    place-items: center;
    width: 200px;
    margin: 12px 12px 24px 0px;
    align-items: center;
}

.counter button {
    width: 42px;
    border-radius: 10px;
    border: 1px solid rgb(255, 225, 160) !important;
    background: #fff !important;
}

.counterText {
    color: black;
    align-items: center;
    margin: 0 auto;
}


.addToCartButton button {
    width: 300px;
    height: 40px;
    background: rgb(255, 225, 160) !important;
}

@media screen and (max-width: 768px) {
    .counter {
        width: 100%;
    }

    .addToCartButton button {
        width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .addToCartButton button {
        width: 350px;
    }

    .counter {
        width: 250px;
    }
}